@using UberEats.Models.ViewModel;@using UberEats.Models.Grid;
@model ViewPartnerModel
@{
    ViewData["Title"] = "Partner";
    ViewBag.Dta="new";
}
@{
    ViewBag.Title = "PartnerList";
    GridData Route = Model.CurrentRoute.Clone();
    PartnerGriddata Curentroute = Model.CurrentRoute;
}
<h1>@ViewBag.Title</h1>

@if (TempData["message"]!=null){
    <div class="col-sm-8">
        <div class="alert alert-primary">@TempData["message"]</div>
    </div>
}
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <a asp-action="List" asp-route-id="All"
               class="list-group-item
                @if (ViewBag.SelectedCategoryName == "All") {
                    <text>active</text>
                } ">All</a>
            @foreach (Category c in ViewBag.Categories)
            {
                <a asp-action="List" asp-route-id="@c.Name"
                   class="list-group-item
                         @(ViewBag.SelectedCategoryName == c.Name ? "active" : "")">
                    @c.Name
                </a>
            }
        </ul>
    </div>

    <div class="col-md-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @{Route.SetSortAndDirection(nameof(Partner.BusinessName), Curentroute);}
                        <a asp-action="SortedList" 
                        asp-all-route-data="@Route.ToDictionary()">Name</a>
                    </th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Type</th>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var partner in Model.Partners)
                {
                    <tr>
                        <td>@partner.BusinessName</td>
                        <td>@partner.BusinessAddress</td>
                        <td>@partner.BusinessEmail</td>
                        <td>@partner.BusinessPhone</td>
                        @if (@partner.CategoryID == 1)
                        {
                              <td>Restaurant</td>
                        }
                        else if (@partner.CategoryID == 2)
                        {
                             <td>Grocery</td>
                        }
                        else if (@partner.CategoryID == 3)
                        {
                            <td>Alcohol</td>
                        }
                        else if (@partner.CategoryID == 4)
                        {
                            <td>Convienience</td>
                        }
                        else if (@partner.CategoryID == 5)
                        {
                            <td>Flower shop</td>
                        }
                        else if (@partner.CategoryID == 6)
                        {
                            <td>Pet Store</td>
                        }
                        else if (@partner.CategoryID == 7)
                        {
                            <td>retail</td>
                        }
                        <td>
                            <a asp-controller="Item" asp-action="List" 
                            asp-route-partnerId=@partner.PartnerID>Menu</a>
                        </td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@partner.PartnerID">
                                Detail
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="mb-1">
            @{
                Route = Curentroute.Clone();
                for (int i = 1; i <= Model.TotalPages; i++)
                {
                    Route.PageNumber = i; string active = @Nav.Active(i, Curentroute.PageNumber);
                    <a asp-action="SortedList" asp-all-route-data="@Route.ToDictionary()"
                    class="btn btn-default @active">@i</a>
                }
            }
        </div>
        <a asp-action="Add" 
        class="btn btn-primary">Add New Partner</a>
    </div>
</div>
